# below codes for SPA
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<!-- allow php code in all html pages  -->
<!-- <Files ~ "\.html$">
  AddHandler fcgid-script .html
  </Files> -->
  
  
  
#   Below the codes are Basic Authentication... (password has to be 半角英語で最低一つ大文字で、暗号化されたものでないといけない)
AuthType Basic
AuthName "Authorization required"
AuthUserFile /home/u496040768/domains/rk-nihongo.com/public_html/mazda/.htpasswd
require valid-user
<Files ~ "^.(htpasswd|htaccess)$">
  deny from all
</Files>


