<!DOCTYPE html>
<html lang="en">
  <link rel="alternate" hreflang="ja" lang="ja" href="" />
  <!--日本語-->
  <link rel="alternate" hreflang="en" lang="en" href="" />
  <!--英語-->

  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# prefix属性: http://ogp.me/ns/ prefix属性#"
  >
    <title>MAZDA</title>

    <!-- No being found on Google Research -->
    <meta name="robots" content="noindex">
  
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="" />
    <meta name="keywords" content="" />

    <!-- Twitter -->
    <meta name="twitter:title" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:description" content="" />
    <meta name="og:image" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@" />

    <!-- google font cdn -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome cdn  -->
    <script
      src="https://kit.fontawesome.com/f1ec62d0b6.js"
      crossorigin="anonymous"
    ></script>

    <!-- Font Awesome for Time Line Icons-->
    <script src="https://kit.fontawesome.com/b8a7fea4d4.js"></script>

    <!-- From Material icons Guide  for Hamburger icon-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header -->
    <div id="Header"></div>

    <!-- <div id="CopyRight"></div> -->

    <!-- Footer -->
    <div id="Footer"></div>
  </body>
</html>
